<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Welcome to Safester!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  </head>
  <body>
    <center>
    <img src="../safeshareit_logo.gif" border="0" alt="Safester Logo">
        <h2><font face="arial">Welcome to Safester v1.0 ALPHA!</font></h2>

				<!--
        <font face="arial" size=4><b><a href="register.jnlp">Register</a></b></font>
        <p>
        <font face="arial" size=4><b><a href="login.jnlp">Login</a></b></font>
        -->
<!--[DETAIL name="applet"]-->
     <APPLET BORDER=0  name="client_applet" archive="https://safester.net/newstart/SafesterItApplet.jar"
		 	code="com.safeshareit.applet.StartApplet.class"
		 	width=200 height=60 mayscript>
		 	<param name="debug" value="false">
                        {@TEXTVAR NAME="login"}
                        {@TEXTVAR NAME="email"}
     </APPLET>
<!--[/DETAIL]-->
	<p><br>
	<b>Prerequisites</b>:
	<ul>
	<li>Safesterit requires Java version 6 and later, get it <a href="http://www.java.com">here</a>.</li>
	<li>First launch may take a while, next ones are fast.</li>
	</ul>

    </center>
    </body>
</html>
