
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Safester - Registration Ok</title>
<link rel="stylesheet" href="https://safester.net/main.css" type="text/css">
</head>

<body>

<div class="central-page">

 <table width="910" align="center" border=0>
  <tr>
   <td rowspan=2><a href="https://safester.net/index.html"><img class="top-button1" src="https://safester.net/img/logo-safester-small.png" style="margin-left: 10px; border: 0"></a>
   </td>
   <td align="right">

   </td>
  </tr>

  <tr>
   <td align="right">
    <!--<a class="top-menu-item" href="index.html">Home</a>-->
    <a class="top-menu-item" href="https://safester.net/features.html">Features</a>
    <a class="top-menu-item" href="https://safester.net/install.html">Download</a>
    <a class="top-menu-item" href="https://safester.net/pricing.html">Pricing</a>
    <a class="top-menu-item" href="https://safester.net/faq.html">FAQ</a>
    <a class="top-menu-item" href="https://safester.net/about.html">About</a>
   </td>
  </tr>

 </table>

 <div class="main-box-top">
 </div>

 <div class="main-box-middle">
<br><br><br><br><br>
<img src="https://safester.net/img/error_64.png" border="0">
<br><br>
<h2>We apologize, the registration failed.</h2>
<!--[DETAIL name="error"]-->
<h3>Reason: {@TEXTVAR NAME="exception"}</h3> 
<h2><a href="mailto:contact@safester.net?subject=RegisterConfirm Failure&body={@TEXTVAR NAME="exception"}">Please click here for fast support.</a>
</h2>
  <div class="main-box-copy">
<!--[/DETAIL]-->
<br>

<br><br>

<br><br><br>
  </div>

 </div>

 <div class="main-box-bottom">
 </div>

 

 <table width="890" align="center">
  <tr>
   <td class="footer">
<a href="https://safester.net/terms-of-use.html">Terms of Use</a>  &nbsp;|&nbsp; 
<a href="https://safester.net/privacy.html">Privacy</a>  &nbsp;|&nbsp; 
<a href="https://safester.net/contact.html">Contact</a>
   </td>
   <td class="copyright">
Copyright &copy; 2011 Kawan Softwares
   </td>
  </tr>
 </table>

</div>
</body>
</html>