<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="robots" content="noindex"> 
 
<!--[DETAIL name="installer"]-->
<!--{@TEXTVAR NAME="base_href"}-->
 
<title>Safester - Install</title> 
<link rel="stylesheet" href="main.css" type="text/css"> 
 
<script type="text/javascript"> 
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1100871-4']);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
</script> 
 
</head> 
 
<body> 
 
<!-- Kawan Softwares 12/05/11 12:20 NDP - First Template Version of install.html --> 
<!-- Kawan Softwares 17/05/11 11:45 NDP - New clean Template Version --> 
<!-- Kawan Softwares 18/10/11 11:20 NDP - New clean Template Version --> 
<!-- Kawan Softwares 22/05/12 19:20 NDP - 2012 Copyright --> 
 
<div class="central-page"> 
 
 <table width="910" align="center" border=0> 
  <tr> 
   <td rowspan=2><a href="https://safester.net/index.html"><img class="top-logo" src="img/logo-safester-small.png"></a> 
  </td> 
   <td align="right"> 
    <div style="height: 30px"></div> 
   </td> 
  </tr> 
 
  <tr> 
   <td align="right"> 
    <a class="top-menu-item" href="https://safester.net/features.html">Features</a> 
    <a class="top-menu-item" href="https://safester.net/install.html">Download</a> 
    <a class="top-menu-item" href="https://safester.net/pricing.html">Pricing</a> 
    <a class="top-menu-item" href="https://safester.net/faq.html">FAQ</a> 
    <a class="top-menu-item" href="https://safester.net/about.html">About</a> 
   </td> 
  </tr> 
 
 </table> 
 
 <div class="main-box-top"> 
 </div> 
 
 <div class="main-box-middle"> 
 
  <div class="main-box-copy"> 
<br> 
 
<h1>Install</h1> 
<br><br> 
<center><img src="img/howto/separator.png"></center> 
<h2>Safester<br>
<span style="font-weight: normal; font-size: 75%">{@TEXTVAR NAME="installer_text"}</span></h2>

<table border=0 width="100%">
 <tr>
  <td valign="top">
   <b>Free</b>. Installs in no time. Fully uninstalls, leaving no trace. 
   <br><br>
   <center>
    <a href="download/{@TEXTVAR NAME="installer_name"}"><img src="img/button-download-safester.png" border="0" vspace="5"></a>
    <br>
    <small>
    	Other Systems:
  		<a href="/install.html?force_user_agent={@TEXTVAR NAME="alternate_installer_text_1"}">{@TEXTVAR NAME="alternate_installer_text_1"}</a> - 
			<a href="/install.html?force_user_agent={@TEXTVAR NAME="alternate_installer_text_2"}">{@TEXTVAR NAME="alternate_installer_text_2"}</a>
    </small>
   </center>

  </td>
  <td width="330" valign="top">

<style>
.topic-box-top {background: #fff url('img/topic-box-top.png') top center no-repeat; font-family: arial, helvetica; font-size: 8pt; color: #333333;  text-align: left; margin: 10px; padding: 20px}
.topic-box-bottom {background: #fff url('img/topic-box-bottom.png') bottom center no-repeat; font-family: arial, helvetica; font-size: 8pt; color: #333333; text-align: left; margin: 10px; padding: 10px}
</style>

   <table border=0 width="290" cellspacing="0" cellpadding="0">
    <tr>
     <td class="topic-box-top">Safester.net is secured and authenticated by Thawte Certificate Authority
     </td>
    </tr>
    <tr>
     <td class="topic-box-bottom">

<div id="thawteseal" style="text-align:center;" title="Click to Verify - This site chose Thawte SSL for secure e-commerce and confidential communications."> 
 
	<div><script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=www.safester.net&amp;size=S&amp;lang=en"></script></div> 
	<div><a href="http://www.thawte.com/products/" target="_blank" style="color:#000000; text-decoration:none; font:bold 10px arial,sans-serif; margin:0px; padding:0px;">ABOUT SSL CERTIFICATES</a></div> 
</div> 

     </td>
    </tr>
   </table>

  </td>
 </tr>
</table>

<!--[/DETAIL]-->

<br><br>  
<center><img src="img/howto/separator.png"></center> 
<br><br>  
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br> 
<br><br><br><br>
  </div> 
 
 </div> 
 
 <div class="main-box-bottom"> 
 </div> 
 
 
 <table width="890" align="center"> 
  <tr> 
   <td class="footer"> 
<a href="https://safester.net/terms-of-use.html">Terms of Use</a>  &nbsp;|&nbsp; 
<a href="https://safester.net/privacy.html">Privacy</a>  &nbsp;|&nbsp; 
<a href="https://safester.net/contact.html">Contact</a> 
   </td> 
   <td class="copyright"> 
Copyright &copy; 2012 Kawan Softwares
   </td> 
  </tr> 
 </table> 
 
</div> 
</body> 
</html>