<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Safester - Login</title>
<link rel="stylesheet" href="main.css" type="text/css">
</head>

<body>

<div class="central-page">

 <table width="910" align="center" border=0>
  <tr>
   <td rowspan=2><a href="index.html"><img class="top-logo" src="img/logo-safeshareit-small.png"></a>
   </td>
   <td align="right">
    <a href="login.html"><img class="top-button1" src="img/button-login-safeshareit.png"></a>
    <a href="join.html"><img class="top-button2" src="img/button-join-safeshareit.png"></a>
   </td>
  </tr>

  <tr>
   <td align="right">
    <a class="top-menu-item" href="index.html">Home</a>
    <a class="top-menu-item" href="features.html">Features</a>
    <a class="top-menu-item" href="pricing.html">Pricing</a>
    <a class="top-menu-item" href="faq.html">FAQ</a>
    <a class="top-menu-item" href="about.html">About</a>
   </td>
  </tr>

 </table>

 <div class="main-box-top">
 </div>

 <div class="main-box-middle">
<br>
<h1>
Account Import</h1>
<!--[DETAIL name="applet"]-->
By logging in with the button below, you will import all current and future Safester messages sent to {@TEXTVAR NAME="email"}<br>into your exisiting account.
<br>
<br>

<center>
    <APPLET BORDER=0  name="client_applet" archive="http://www.safeshareit.net/newstart/SafesterItApplet.jar"
		 	code="com.safeshareit.applet.StartApplet.class"
		 	width=260 height=95 mayscript>
		 	<param name="debug" value="false">
                       
{@TEXTVAR NAME="login"} 
<param name="launch" value="merge">

<!--[/DETAIL]-->
</APPLET>
</center>
  <div class="main-box-copy">

<span style="font-weight: bold">Don't see the Login Button or the Login Panel ?</span>
<br>Check if you have the latest version of Java: <a href="http://www.java.com">www.java.com</a>.
<br><br>
<span style="font-weight: bold">Using Safester&trade; from behind a Proxy. </span>
<br>Go to "Settings" in the login panel to change your information

<br><br><br>
Safester&trade; is a Service of Safester Sarl, a Paris, France, based Email and Security company. <br>
For more information about Safester&trade;, go to <a href="https://safester.net">www.safester.net</a>.
<br><br>

<br><br><br>
  </div>

 </div>

 <div class="main-box-bottom">
 </div>

 

 <table width="890" align="center">
  <tr>
   <td class="footer">
<a href="terms-of-use.html">Terms of Use</a>  &nbsp;|&nbsp; 
<a href="privacy.html">Privacy</a>  &nbsp;|&nbsp; 
<a href="http://safeshareit.wordpress.com">Blog</a>  &nbsp;|&nbsp; 
<a href="http://twitter.com/safeshareit">Twitter</a>  &nbsp;|&nbsp; 
<a href="contact.html">Contact</a>
   </td>
   <td class="copyright">
Copyright &copy; 2010 Safester
   </td>
  </tr>
 </table>

</div>
</body>
</html>