<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Safester - Buy our solution to encrypt and secure your emails</title>
<meta name="description" content="Discover our free version and buy the Safester license suited to your needs for encryption and security of emails.">
<meta name="keywords" content="free version of encryption software, email encryption, email security">
<meta name="robots" content="index, follow">
<link rel="stylesheet" href="/main.css" type="text/css">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1100871-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>

<!-- Kawan Softwares 25/02/11 19:15 NDP - Template Version --> 
<!-- Kawan Softwares 25/02/11 19:15 NDP - Pricing instead of Buy --> 
<!-- Kawan Softwares 12/07/11 17:35 NDP - New Silver test trial --> 
<!-- Kawan Softwares 17/10/11 19:20 NDP - Add Free version  --> 
<!-- Kawan Softwares 22/05/12 19:20 NDP - 2012 Copyright --> 

<div class="central-page">

 <table width="910" align="center" border=0>
  <tr>
   <td rowspan=2><a href="/index.html"><img class="top-logo" src="/img/logo-safester-small.png"></a>
   </td>
   <td align="right">
    <div style="height: 30px"></div>
   </td>
  </tr>

  <tr>
   <td align="right">
    <!--<a class="top-menu-item" href="/index.html">Home</a>-->
    <a class="top-menu-item" href="/features.html">Features</a>
    <a class="top-menu-item" href="/install.html">Download</a>
    <a class="top-menu-item" href="/pricing.html">Pricing</a>
    <a class="top-menu-item" href="/faq.html">FAQ</a>
    <a class="top-menu-item" href="/about.html">About</a>
   </td>
  </tr>

 </table>

 <div class="main-box-top">
 </div>

 <div class="main-box-middle">

  <div class="main-box-copy">
<br>
<h1>Pricing: Our Plans</h1>
<br><br>

<b>We offer a couple of Safester plans to tailor the service, support and storage to your needs.</b>
<br>
Your recipients will never have to pay to receive all your messages and files!

<br><br>
<b>Not sure which plan to choose?</b><br> Start with our standard BASIC plan and upgrade later.
<br><br>
<b>Not ready to purchase yet? Just looking to evaluate Safester?</b><br>
Start with our FREE plan. It provides a 14 day SILVER free trial.

<br><br>

<style>
.pricing-table th {border-bottom: 1px solid #cccccc; font-family: georgia; font-size: 14pt; padding: 10px; text-align: center; font-weight: bold; color: #333; background: #fff } /* background: #666666 url('img/bg-table.png') top center repeat-x; */
.trial-text {color: #027298;}
.pricing-table td {border-bottom: 1px solid #cccccc; padding: 10px; text-align: center}
#lefty {text-align: left; font-weight: bold; background: #EEE}
.above-table td {border: 0}
</style>
<table cellpadding=0 cellspacing=0 width="800" align="center" class="pricing-table">

<!--
 <tr class="above-table">
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td><img src="/img/most-popular-edition-v2.png">
  </td>
  <td>
  </td>
 </tr>
-->

 <tr>
  <th width="25%">
    </th>
    <th width="20%" valign="bottom">FREE<br>
  </th>
  </th>
    <th width="20%" valign="bottom">BASIC<br>
  </th>
  <th width="20%" valign="bottom"><img src="/img/Safester-Silver-icon.png"> <br>SILVER<br>
  </th>
  <th width="20%" valign="bottom"><img src="/img/Safester-Gold-icon.png"> <br>GOLD<br>
  </th>
  <th width="20%" valign="bottom"><img src="/img/Safester-Platinum-icon.png"> <br>PLATINUM<br>
  </th>
 </tr>

 <tr>
    
  <td id="lefty">Outbox Storage
  <br><font size=-1>(Unlimited Inbox)</font>
    </td>
        
  <td>50Mb
  </td>    
  <td>500Mb
  </td>
  <td>1Gb
  </td>
  <td>4Gb
  </td>
  <td>20Gb
  </td>
 </tr>

 <tr>
  <td id="lefty">Attachments
  </td>
    <td>No
  </td>
  <td>Up to 5Mb
  </td>
  <td>Up to 50Mb
  </td>
  <td>Up to 250Mb
  </td>
  <td>2Gb
  </td>
 </tr>

 <tr>
  <td id="lefty" valign="top">Support
  </td>
  <td valign="top">FAQ
  </td>
  <td valign="top">Email
  </td>
  <td valign="top">Email Priority
  </td>
  <td valign="top">Email Priority
  </td>
  <td valign="top">Telephone
  </td>
 </tr>

<!--[DETAIL name="price"]-->

 <tr>
  <td id="lefty" valign="top">Cost per user 
  </td>
    <td valign="top">Free
  </td>  
    <td valign="top">{@TEXTVAR NAME="price_basic"} / year
  </td>
  <td valign="top">{@TEXTVAR NAME="price_silver"} / year
  </td>
  <td valign="top">{@TEXTVAR NAME="price_gold"} / year
  </td>
  <td valign="top">{@TEXTVAR NAME="price_platinum"} / year
  </td>
 </tr>

 <tr>
  <td valign="top">
  </td>
  
  <td valign="top">
      <a style="font-size: 11pt; font-weight: bold" href="/install.html">DOWNLOAD</a>
   <br><font size=-1>Includes SILVER 
   <br>14 Day Free Trial</font>
  </td>
  
   <td valign="top"><a href="{@TEXTVAR NAME="url_swreg_basic"}"><img src="/img/button-pay-now.png" alt="Pay Now for Safester BASIC Plan" border="0"></a>
  </td>
  <td valign="top"><a href="{@TEXTVAR NAME="url_swreg_silver"}"><img src="/img/button-pay-now.png" alt="Pay Now for Safester SILVER Plan" border="0"></a>
  </td>
  <td valign="top"><a href="{@TEXTVAR NAME="url_swreg_gold"}"><img src="/img/button-pay-now.png" alt="Pay Now for Safester GOLD Plan" border="0"></a>
  </td>
  <td valign="top"><a href="{@TEXTVAR NAME="url_swreg_platinum"}"><img src="/img/button-pay-now.png" alt="Pay Now for Safester PLATINUM Plan" border="0"></a>
  </td>
 </tr>
 
 
 <!--[/DETAIL]-->

</table>

<br>
<br>
<div id="thawteseal" style="text-align:center;" title="Click to Verify - This site chose Thawte SSL for secure e-commerce and confidential communications.">
<div><script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=www.safester.net&amp;size=S&amp;lang=en"></script></div>
<div><a href="http://www.thawte.com/products/" target="_blank" style="color:#000000; text-decoration:none; font:bold 10px arial,sans-serif; margin:0px; padding:0px;">ABOUT SSL CERTIFICATES</a></div>
</div>

<!--
<br><br>
<strong>Archive Policy :</strong><br>
<ul>
<li><strong>Paid Subscriptions:</strong> Upon expiration of a subscription the paid account becomes a Free account. All messages are stil accessible.</li>
<li><strong>Free Accounts:</strong> messages will be accessible for up to 1 year from the date of the last message sent from the account.</li>
</ul>
-->

<br><br><br><br><br><br> <br><br>

  </div>

 </div>

 <div class="main-box-bottom">
 </div>

 

 <table width="890" align="center">
  <tr>
   <td class="footer">
<a href="/terms-of-use.html">Terms of Use</a>  &nbsp;|&nbsp; 
<a href="/privacy.html">Privacy</a>  &nbsp;|&nbsp; 
<a href="/contact.html">Contact</a>
   </td>
   <td class="copyright">
Copyright &copy; 2012 Kawan Softwares
   </td>
  </tr>
 </table>

</div>
</body>
</html>