<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Safester - Join</title>
<link rel="stylesheet" href="main.css" type="text/css">
</head>

<body>

<div class="central-page">

 <table width="910" align="center" border=0>
  <tr>
   <td rowspan=2><a href="index.html"><img class="top-logo" src="img/logo-safeshareit-small.png"></a>
   </td>
   <td align="right">
    <a href="login.html"><img class="top-button1" src="img/button-login-safeshareit.png"></a>
    <a href="join.html"><img class="top-button2" src="img/button-join-safeshareit.png"></a>
   </td>
  </tr>

  <tr>
   <td align="right">
    <a class="top-menu-item" href="index.html">Home</a>
    <a class="top-menu-item" href="features.html">Features</a>
    <a class="top-menu-item" href="pricing.html">Pricing</a>
    <a class="top-menu-item" href="faq.html">FAQ</a>
    <a class="top-menu-item" href="about.html">About</a>
   </td>
  </tr>

 </table>

 <div class="main-box-top">
 </div>

 <div class="main-box-middle">

<br>
  <table align="center">
   <tr>
    <td class="hp-quote-red">&#8220;All we need is just a little patience&#8221;</td>
   </tr>
   <tr>
    <td class="hp-quote-author">Axl Rose, Frontman, Guns n' Roses</td>
   </tr>
  </table>

  <div class="main-box-copy">

<br><br><br>
<table align="center" cellspacing="10" width="650">
 <tr>
  <td class="3col-box" valign="top" width="33%">
<h1>Safester is currently in Beta Testing</h1>
<br><br
<center>
<!--[DETAIL name="applet"]-->
     <APPLET BORDER=0  name="client_applet" archive="http://www.safeshareit.net/newstart/SafesterItApplet.jar?v=201006111944"
		 	code="com.safeshareit.applet.StartApplet.class"
		 	width=260 height=95 mayscript>
		 	<param name="debug" value="false">
                        {@TEXTVAR NAME="register"}
                        {@TEXTVAR NAME="email"}
     </APPLET>
<!--[/DETAIL]-->

	<p>
	Prerequisites:
	<ul> 
	<li>Safesterit requires Java version 6 and later, get it <a href="http://www.java.com">here</a>.</li>
	<li>First launch may take a while, next ones are fast.</li>
	</ul>

    </center>
        <!-- Or use the following script element to launch with the Deployment Toolkit -->
        <!-- Open the deployJava.js script to view its documentation -->
        <!--
        <script src="http://java.com/js/deployJava.js"></script>
        <script>
            var url="http://[fill in your URL]/launch.jnlp"
            deployJava.createWebStartLaunchButton(url, "1.6")
        </script>
        -->
    </body>
</html>
  </td>
 </tr>
</table>
<br><br><br><br>
  </div>

 </div>

 <div class="main-box-bottom">
 </div>

 

 <table width="890" align="center">
  <tr>
   <td class="footer">
<a href="terms-of-use.html">Terms of Use</a>  &nbsp;|&nbsp; 
<a href="privacy.html">Privacy</a>  &nbsp;|&nbsp; 
<a href="http://safeshareit.wordpress.com">Blog</a>  &nbsp;|&nbsp; 
<a href="http://twitter.com/safeshareit">Twitter</a>  &nbsp;|&nbsp; 
<a href="contact.html">Contact</a>
   </td>
   <td class="copyright">
Copyright &copy; 2010 Safester
   </td>
  </tr>
 </table>

</div>
</body>
</html>