
<table bgcolor="#d5d5d5" cellspacing=1 cellpadding=10>
<tr>
<td bgcolor="#d5d5d5">Plan</td>
<td bgcolor="#ffffff" align="center"><b><font face="Arial", color=#000000>BASIC</b></td>
<td bgcolor="#ffffff" align="center"><b><font face="Arial", color=#B9BDB8>SILVER</b></td>
<td bgcolor="#ffffff" align="center"><b><font face="Arial", color=#DDBA46>GOLD</b></td>
<td bgcolor="#ffffff" align="center"><b><font face="Arial", color=#333431>PLATINUM</b></td>
</tr>

<tr>
<td bgcolor="#d5d5d5">Storage</td>
<td bgcolor="#ffffff" align="center">500Mb</td>
<td bgcolor="#ffffff" align="center">1Gb</td>
<td bgcolor="#ffffff" align="center">4Gb</td>
<td bgcolor="#ffffff" align="center">20Gb</td>
</tr>

<tr>
<td bgcolor="#d5d5d5">Attachments</td>
<td bgcolor="#ffffff" align="center">Up to 5Mb</td>
<td bgcolor="#ffffff" align="center">Up to 50Mb</td>
<td bgcolor="#ffffff" align="center">Up to 250Mb</td>
<td bgcolor="#ffffff" align="center">2Gb</td>
</tr>

<tr>
<td bgcolor="#d5d5d5">Support</td>
<td bgcolor="#ffffff" align="center">Email</td>
<td bgcolor="#ffffff" align="center">Email</td>
<td bgcolor="#ffffff" align="center">Email Priority</td>
<td bgcolor="#ffffff" align="center">Telephone</td>
</tr>
<!--[DETAIL name="price"]-->
<tr>
<td bgcolor="#d5d5d5">Cost per user </td>
<td bgcolor="#ffffff" align="center">{@TEXTVAR NAME="price_basic"}/ year </td>
<td bgcolor="#ffffff" align="center">{@TEXTVAR NAME="price_silver"}/ year </td>
<td bgcolor="#ffffff" align="center">{@TEXTVAR NAME="price_gold"} / year <br> </td>
<td bgcolor="#ffffff" align="center">{@TEXTVAR NAME="price_platinum"} / year <br> </td>
</tr>

<tr>
<td bgcolor="#d5d5d5"></td>
<td bgcolor="#ffffff" align="center"><a href="{@TEXTVAR NAME="url_swreg_basic"}"><b>Buy now</b></a> </td>
<td bgcolor="#ffffff" align="center"><a href="{@TEXTVAR NAME="url_swreg_silver"}"><b>Buy now</b></a> </td>
<td bgcolor="#ffffff" align="center"><a href="{@TEXTVAR NAME="url_swreg_gold"}"><b>Buy now</b></a> </td>
<td bgcolor="#ffffff" align="center"><a href="{@TEXTVAR NAME="url_swreg_platinum"}"><b>Buy now</b></a></td>
</tr>

 <!--[/DETAIL]-->
 
</table>
